@media all and (max-width: 640px){
  .filter__button {
    align-items: center;
    background: #2788ba;
    border-radius: 50%;
    box-shadow: 0px 3px 2px 0px #006699;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 70px;
    justify-content: center;
    right: 10px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 10px;
    transition: box-shadow .2s ease;
    width: 70px;
    z-index: 10;
  }
  .filter__button img {
    display: block;
    height: 40px;
    margin-top: -5px;
    width: 40px;
  }
  .filter__button:before {
    background: #006699;
    border-radius: 20px;
    content: '';
    display: block;
    height: 140px;
    position: absolute;
    top: 100px;
    transform: rotate(45deg);
    transition: top .2s ease;
    width: 140px;
    z-index: -1;
  }
}