.button {
  background-color: #2788ba;
  box-shadow: 0px 3px 2px 0px #006699;
  display: flex;
  right: 10px;
  top: 10px;
}

.button:before {
  background: #006699;
}

.image {
  display: block;
  height: 40px;
  margin-top: -5px;
  width: 40px;
}

@media all and (min-width: 640px){
  .button {
    display: none;
  }
}
