.popup__overlay {
  align-items: flex-start;
  background: rgba(255,255,255,.75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}
.popup__container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 1px 0px rgba(0,0,0,.3);
  flex: 0 1 640px;
  padding: 20px;
  position: relative;
  max-width: 640px;
  top: 100px;
  width: 100%;
}
.popup__title {
  border-bottom: 2px solid #ddd;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}
.popup__description {
  font-size: 1.4rem;
  line-height: 1.42em;
  margin-bottom: 10px;
  text-align: justify;
}
.popup__textarea {
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.3);
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  height: 320px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.popup__button {
  background: #2788ba;
  border-radius: 3px;
  box-shadow: 0px 3px 2px 0px #006699;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  transition: all .2s ease;
  width: 100%;
}
.popup__button:hover {
  background: #fff;
  box-shadow: 0px 0px 2px 0px #2788ba;
  color: #2788ba;
}
.popup__error {
  color: #b80b0b;
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.popup__success {
  color: #3b5c06;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

@media all and (max-width: 960px){
  .popup__textarea {
    height: 240px;
  }
}

@media all and (max-width: 640px){
  .popup__container {
    top: 60px;
  }
  .popup__title {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 480px){
  .popup__container {
    padding: 10px 20px;
  }
  .popup__title {
    border-bottom: 0;
    font-size: 1.4rem;
  }
  .popup__description {
    font-size: 1.2rem;
  }
  .popup__textarea {
    font-size: 1.4rem;
    height: 180px;
  }
}