.filterOption {
  align-items: flex-start;
  background-color: #eee;
  cursor: pointer;
  display: flex;
  border-bottom: 2px solid #ddd;
  font-size: 1.4rem;
  padding: 5px 10px;
}

.filterOptionBox {
  background-color: #fff;
  border: 2px solid#ccc;
  display: inline-block;
  height: 20px;
  flex: 0 0 20px;
  margin-right: 10px;
  transition: border .2s ease;
  max-width: 20px;
}

.filterOption:hover {
  background-color: #fff;
}
