.document {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px 10px 100px;
  position: relative;
  width: 100%;
}

.title {
  font-weight: 800;
  border-bottom: 1px solid #ddd;
  font-size: 3.2rem;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.content {
  line-height: 1.42em;
  padding: 10px 0;
}

.content h2 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -.5px;
  line-height: 2em;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.42em;
  margin-bottom: 10px;
}

.content p {
  color: #333;
  margin-bottom: 10px;
}

.content ul {
  background: #eee;
  padding: 5px 10px;
  list-style: square inside;
  margin-bottom: 20px;
}

.content a {
  color: #006699;
  text-decoration: underline;
}

.content a:hover {
  text-decoration: none;
}

.content hr {
  border-top: 1px solid #eee;
}

.button {
  background-color: #2788ba;
  font-weight: 800;
  box-shadow: 0px 3px 2px 0px #006699;
  flex-direction: column;
  font-size: 1.8rem;
  line-height: 55px;
  position: fixed;
  top: 1.8rem;
  right: 1.8rem;
}

.button:before {
  background: #006699;
}

.button:hover {
  box-shadow: 0px 0px 2px 0px #2788ba;
}

.button span {
  flex: 0 0 50px;
  max-height: 50px;
}