.button {
  composes: button--round from '../../../../../mixins/button.module.css';
  background: #ff9f00;
  box-shadow: 0px 3px 2px 0px #ff4e00;
  right: 10px;
  bottom: 70px;
}
.button:before {
  background: #ff4e00;
}
.button:hover {
  box-shadow: 0px 0px 2px 0px #ff4e00;
}

.image {
  composes: button-image from '../../../../../mixins/button.module.css';
}