.footer {
  background-color: #fff;
  display: flex;
  border-top: 1px solid #ddd;
  bottom: 0;
  height: 45px;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media all and (max-width: 480px){
  .footer {
    height: 35px;
    padding: 5px;
  }
}
