.logo {
  composes: display--block from '../../../mixins/display.module.css';
  max-width: 160px;
}
.image {
  composes: display--block from '../../../mixins/display.module.css';
  height: auto;
  width: 100%;
}

@media all and (max-width: 640px){
  .logo {
    max-width: 140px;
  }
}